<div class="card">
  <%= link_to image_tag(item.image, class: :card__img ), item_path(item) %>
  <div class="card__body">
    <%= link_to item.title, item_path(item), class: :card__title%>
    <p class="card__summary">
      <%= item.catch_copy %>
    </p>
    <%= link_to "by #{item.user.name}", user_path(item.user), class: :card__user %>
  </div>
</div>